@tailwind base;
@tailwind components;
@tailwind utilities;

/* Use utility class in HTML: <body class="antialiased"> */

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #f3f4f6; /* gray-100 */
}
::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* gray-300 */
  border-radius: 9999px;
}
